.btn-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header-shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.header-text{
  font-size: 16px
}

.time-text-late{
    color: #faa307;
}

.time-text{
    color: #38b000
}

.remind-text {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.order-text{
    font-size: 17px
}

.active-order{
    background-color: #e2eafc
}

.btn-complete{
    background-color: #e5383b;
    color: white;
}

.btn-complete:hover {
    background-color: #e5383b;
    color: white;
    border: 1px solid #e5383b;
}