.welcome-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-text{
    color: white;
    letter-spacing: 2px;
}

.btn-text:hover{
    color: white;

}

.welcome-content{
    height: 80%;
}

.btn-order{
    background: #fca311;
    color: #14213d;
    padding: 15px 20px;
    /* border: 1px white solid; */
    border-radius: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn-order:hover{
    color: #fca311;
    background-color: #14213d;
}
